* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100svh;
  width: 100svw;
}
header,
footer {
  height: 100px;
  width: 100svw;
  background-color: #f2e8cf;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
}
h1,
h2,
h3,
p,
li {
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  width: 60%;
  height: 100%;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
img {
  height: 30px;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: #bc4749;
  font-weight: 600;
}
main {
  background-color: #f2e8cf;
  min-height: 100%;
  width: 100%;
  top: 100px;
}
section {
  min-height: 100svh;
  min-width: 100svw;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p {
  margin-top: 20px;
}
#Christmas {
  background-color: #386641;
}
#Origins {
  background-color: #6a994e;
}
#Symbols {
  background-color: #a7c957;
}
#Meals {
  background-color: #386641;
}
#Message {
  background-color: #6a994e;
}
.bg-img {
  background-color: rgb(0, 200, 20);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#beyon {
  background-image: url(./Assets/beyon-binu-Qma3hmmBj14-unsplash.jpg);
}
#debby {
  background-image: url(./Assets/debby-hudson-QdQEtkscDi8-unsplash.jpg);
  background-position: center;
}
#freestocks {
  background-image: url(./Assets/freestocks--Qf9JKLysUg-unsplash.jpg);
}
#jakob {
  background-image: url(./Assets/jakob-owens-mpnqu9o4b9w-unsplash.jpg);
  background-position: top right;
}
#tessa {
  background-image: url(./Assets/tessa-rampersad-5toRIWF2GUY-unsplash.jpg);
}
